@import './reset.scss';
@import './themes/dark.scss';
@import './themes/normal.scss';
@import './variables/global.scss';

.app {
    min-height: 100vh;
    font-size: var(--font-m);
    color: var(--primary-color);
    background-color: var(--primary-color);
}
