.app.dark {
    --bg-color: #1c1c72;
    --inverted-bg-color: #3ecdc3;
    --primary-color: #078f07;
    --secondary-color: #ff8e04;
    --inverted-primary-color: #650404;
    --inverted-secondary-color: #0449e0;
}
