.app.light {
    --bg-color: #8b8bdc;
    --inverted-bg-color: #2caac6;
    --primary-color: #650404;
    --secondary-color: #0449e0;
    --inverted-primary-color: #078f07;
    --inverted-secondary-color: #ff8e04;
}
