.navbar {
    width: 100%;
    height: 50px;
    background-color: var(--inverted-bg-color);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
